/* css styles */

a {
  color: #3498db;  /* --bs-cyan */
}

a:hover {
  color: orange;  /* --bs-cyan */
}

div.quarto-about-trestles .about-entity .about-link:hover {
    color: orange;
}


div.quarto-post .thumbnail img {
    max-width: fit-content;
    width: auto!important;
    object-fit: scale-down;
}
