0-cover.key
02-basic-charts.ppt
1-Intro.key
1-Intro.pdf
2-R-datamanagement.key
2-R-datamanagement.pdf
2-R-datamanagementDason.key
2-tips.ppt
3-graphics.key
4-models.key
4-models.pdf
5-Rprogramming.key
5-Rprogramming.pdf
6-advancedmanipulation.key
6-advancedmanipulation.pdf
Day1.key
Day1.pdf
Presentation
index-fullcourse.html
lectures-pdf
