/* css styles */

a {
  color: #3498db;  /* --bs-cyan */
}

a.nav-link.active {
  color: #3498db!important;  /* --bs-cyan */
}

.sidebar nav[role=doc-toc] ul>li>a.active,.sidebar nav[role=doc-toc] ul>li>ul>li>a.active {
    border-left: 1px solid #3498db;
    color: #3498db !important
}

.sidebar nav[role=doc-toc] ul>li>a:hover,.sidebar nav[role=doc-toc] ul>li>ul>li>a:hover {
    color: #3498db !important
}


a.active {
  color: #3498db;  /* --bs-cyan */
}

a:hover {
  color: orange;  /* --bs-cyan */
}

div.quarto-about-trestles .about-entity .about-link:hover {
    color: orange;
}


div.quarto-post .thumbnail img {
    max-width: fit-content;
    width: auto!important;
    object-fit: scale-down;
}

